@page "/education"

<div class="container">
    <h1>Education</h1>
    <div class="container" style="padding-bottom: 30px;">
        <div class="row">
            <div class="col-sm-3">
                <img 
                     src="https://dm2305files.storage.live.com/y4mVAHANRfolHmkU7AzNrXH-6f0q6LyIcNC5dbzrnzI2pate2t1_-B-WLz3FcuNrCB3cHfrMo1tdSTgTWhbtc21UG7zXTRR8hC3_VQpZC8Y_Z7HFuz1djAVLfm7jPZXsMZY_Aqq7UXiE8dE1bsbZyuy97lTTNlSG9ZFqvlE2BbsVMM2br2vOejHhHYBiCjDT3CD?width=660&height=447&cropmode=none"
                     alt="Marquette University"
                     style="width: 100%;"
                />
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>B.S. in Business Administration</h3>
                    </div>
                    <div class="col-sm-4 right-nav-section">
                        <h3>May 2016</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <p>Majors:</p>
                    </div>
                    <div class="col-sm-9" style="text-align:left;">
                        <ul>
                            <p>Accounting</p>
                            <p>Operations & Supply Chain Management</p>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <p>GPA:</p>
                    </div>
                    <div class="col-sm-9" style="text-align:left;">
                        <ul>
                            <p>3.59/4.00</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Certifications</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="https://dm2305files.storage.live.com/y4mPMBht2P-Ek7Ldakh2NGDGO5eizuIkdoYJbjR2LmrfxGqp6MjU0L4_7g5-72zaSiOTHQGBXzf8T44tZjZIUaqB1gprRQR5D6dRoQooNnFik3LYDQHkbtY2Z-7D-jtKDLUETMSW2pIzDzOi-XZx1iZjKWFw3nf0Tcac719gZbyLA99BCceJXvfZWNjVnI6afJM?width=660&height=347&cropmode=none"
                     alt="General Assembly"
                     style="width: 100%;" />
            </div>
            <div class="col-sm-9 align-items-center">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>Certified Data Scientist 1</h3>
                    </div>
                    <div class="col-sm-4 right-nav-section">
                        <h3>December 2019</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <p>Certificate ID: <a href="https://my.generalassemb.ly/awards/EMPYNKM5R" target="_blank">EMPYNKM5R</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
