@page "/"

<div class="jumbotron text-center">
    <div class="container">
        <h1>Leader in Analytics and Data Management</h1>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4" style="vertical-align:middle; text-align:center">
            <img src="https://dm2305files.storage.live.com/y4mANIuRd9gbzYGVDJi5aknt2x1PmuISjNOIAEjVQ7Xzn2re5DRte86qQLpXDR-OopQxhV0OBlK_ZVOxAjGBLHdK5H3vKGVRF3VpuOBS1R4GmEiPfAIfXLPNPUAfEg-np7dqu3Lht8gpsT7BcrMGihC5bcfDjLUuKdyX5Pez8wShE2vp2sAW1et2q2wgGEGWK6e?width=286&height=400&cropmode=none" height="350px" style="vertical-align:middle"/>
        </div>
        <div class="col-sm-8" style="padding-top:20px;">
            <h1>My Experience</h1>
            <p style="padding-left: 20px;">
                6 years bridging the divide between engineering and business organizations by using data to analyze processes, define business requirements, and deliver data-driven recommendations and reports to support stakeholders and organizational metrics.
            </p>
            <h1>My Story</h1>
            <p style="padding-left: 20px;">
                In 2018, my mom finally heard the words she had been waiting to hear since I left home for college 6 years earlier "I am moving!"  <br><br> Much to her dismay, I was not moving back home to Seattle, but instead moving the opposite direction to Boston for a new tech role.   In my free time I love to code; I work seamlessly in Python, C#, and various flavors of SQL.  I build this site myself using C#, ASP.NET Core, and Docker.
            </p>
        </div>
    </div>
</div>