@page "/skills"

<div class="container">
    <h1>Skills </h1>
    <div class="container">
        <h3>Languages</h3>
        <div class="container body-section">
            <div class="row justify-content-md-center">
                <div class="col-sm-5 col-language">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4msu3Mdb4IBfk9RkhfOKw2XGzvOtJDfCURenlM53ifbbDPLLtVmpVBeOyOfAMu2QQ0FAgEIi7FFuNwhl5RIj6XfgS-0m2qP9HmKFdMkFTPPouLrfWokSc8wTK_-NmO7ac7UhiDBl3Ri8KYuWDlUNnk6Hnt5qL34sp73hq30zKvpzXrTFQaf3wp68TiRBQValn6?width=256&height=246&cropmode=none"
                             class="language-logo"
                             />
                    </div>
                    <div class="row">
                        <h5>Version</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Python 3</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Libraries</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Pandas</li>
                            <li>Requests</li>
                            <li>Matplotlib</li>
                            <li>Scikit-Learn</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Frameworks</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Flask</li>
                            <li>Fast API</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5 col-language">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4mCPldMxUniNiWTAFTlV3ZjT9QwUjXuoUMimdLZQOtuhAD_4fziQ98p-P57pU-FwfHG36vAyAe-QoS3Tw3n6JB5y_DfhF4U_pLTXSfLbWVlZp12VA6tI810Ao3piz9P7cykmvXAV91Z6fY4-w67RxTlFthL35NzwXHPQVicSuTdv8cL3-htGSy0BYroSyf8o4v?width=228&height=256&cropmode=none" 
                             class="language-logo"
                             />
                    </div>
                    <div class="row">
                        <h5>Version</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>.NET 5</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Packages</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Azure</li>
                            <li>Dapper</li>
                            <li>Link</li>
                            <li>Newtonsoft</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5>Frameworks</h5>
                    </div>
                    <div class="row">
                        <ul>
                            <li>Blazor</li>
                            <li>Entity Framework</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h3>Cloud Platforms</h3>
        <div class="container body-section">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4myFUfmBdG6xSu0WO929qP4XUgPiUXJRshUn4sPMTnCouYY5OPlSEbm4KAs8izDVW8cXaG3RP4collF6_1MN6ZjC9Eou6OxVPqLf9MbWkmBT53OfGYbUewAsmhhKHYMmu5dGh0_-GO6Pe_OLfitr03xoGOkYPQ7rRcqmkA0fFjvX5C56t0RYTpnTSCvzgSK96G?width=256&height=198&cropmode=none" 
                             class="cloud-logo"
                             alt="Google Cloud Platform"
                             />
                    </div>
                    <div class="row justify-content-md-center">
                        <h5>Professionally at Wayfair</h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4mwLhpv3eaAL1DL7sGdhTkn_vCtm0wNivWRprL6kFQnE7BjD7vexhvUnFf7NHlbp-LRKaChYDhOACkNnUuYbfyieeJReCaF7zrcV5t8knF5nS9MclqJ47O4muC8XviKBUGk9L3xLTpdW8GQawsQvHdP9hl5f0VDAUl8pN0Mz4oarWGDEtUCMAjzmgB0MTJkrAQ?width=256&height=228&cropmode=none" 
                             class="cloud-logo"
                             alt="Amazon Web Services"
                             />
                    </div>
                    <div class="row justify-content-md-center">
                        <h5>Recursiv LLC</h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4mRa87XeDEE_vg6W1ZLsdG608TrfV3ZvdWIISWtOfJpsmJbj2IVzc9IcJT8s8PilGgrb5V3iSXL-IxrwYq6KG1p1WEcOwiSTL4D-rKklGd1PSH9wFmHaLUqEqeFjBAjZ88arrzBAx_yU-2hslUrkpRIwZhcxhyYMJMKc0LGsQLf0gEOilCbhrpsTjf7uuWXfbh?width=256&height=233&cropmode=none"
                             class="cloud-logo"
                             alt="Azure" />
                    </div>
                    <div class="row justify-content-md-center">
                        <h5>Recursiv LLC</h5>
                    </div>
                </div>
            </div>
        </div>
        <h3>Technologies</h3>
        <div class="container body-section">
            <div class="row justify-content-md-center" style="padding-top: 5px;">
                <div class="col-3">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4mffkMsC5vxBXdg6KRO9o9U9ZXUjTSO5Zcy2Mk0noYOjjbZC3jCjyFx2kFjMi7azKGmmtVJZE4AzwVN5KunQyFwI4_ZIAp5WV2ZXgNrTX9ubCRSeYhC0Xbr_9fzldq0cIMvMWwcCZnDwzkRRmVDtT_r7yOev_0p0ZWY4InSqwdJUZGve-5vFYMDv7Z5IzfFrur?width=171&height=192&cropmode=none" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4mKBMXN93kdZY32f0jJDFYtHarVjCkNyc86IPLTdNyHAROug4ZqvpQwlwKTrXgNIaNDBPLlykJA2esw12k_GObCconxc7ZSOuCJsn_IVglgr9xlSRA1WMbhhrbCO2nWGbQeOy4ywGevkTzu3K8XJAg5uyYRqkHA2UgTsoCfOZOtbRSjfHheIWnbRTAbALHxXvA?width=224&height=192&cropmode=none" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4mE4yZIAaIE5zajhtgd7oSknXVfPk9sWFeyLOQs9f8iDBDVa1NG7ex66Vpb2piT65diLdx6dX5A_OaGXc9FHZI2F0j-2iiihrSHdZAtSe8ngWFirU_jKSYkNb7BZZh5mJxDG0HX1UQ-_HTcUmLxzzUh6HlP_RX0cgu4EsBuFByHpER91uJ8kZ5pEiwg7Zyx_vI?width=238&height=192&cropmode=none" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <img src="https://dm2305files.storage.live.com/y4m_0BohbREVDSEZY8EgWREsCTKm_1hQwzOILkqN6lS7u9CmN46JwNeJaNcTHTZSpQJI3hisCY1VZyoppzhFAjZPNOG7uIGolnb3srDr2isDUNIU_8_TMSm5uDVN491DO2c3q16BS_1z8_MUDcWH_K8-_cRxA5c3KbAZBHeLScqevSwV2lNDNaMj6uob0KFDi-d?width=274&height=144&cropmode=none" />
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 200px;">

        </div>
    </div>
</div>

@code {

}
