<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand" href="">Connor Clancy</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="experience">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Experience
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="education">
                <span class="oi oi-book" aria-hidden="true"></span> Education
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-code" aria-hidden="true"></span> Skills
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.linkedin.com/in/conclancy/">
                <span class="fa fa-linkedin-square fa-nav" aria-hidden="true"></span> LinkedIn
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/conclancy">
                <span class="fa fa-github fa-nav" aria-hidden="true"></span> GitHub
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
